

.search{
 padding: 20px;

}

h1{
    text-align: center;
}

.pagination{
 margin-left: 30%
}

.end{
    text-align: end;

}
.btn{
    padding: 11px;
}
 .text-transform{
     text-transform: capitalize;
 }