

.search{
 text-align: end;
}

.pagination{
 margin-left: 30%
}

.input-group{
    padding: 20px;
}

h1{
    text-align: center;
    padding: 20px;
}

.text-transform{
    text-transform: capitalize;
}

.end{
    text-align: end;
}