.container-fluid{

    padding: 50px;
    width: 100%;
    

}

.form-group{
    padding-right: 300px;
    padding-left: 300px;
}

.btn{
    margin-top: 20px;
    margin-left: 665px;

}

h2{
    text-align: center;
}

.form {
    margin-top: 50px;
}